<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sarnath.sshop.mapper.ReciveAddressMapper">

	<resultMap id="ReciveAddressEntity"
		type="com.sarnath.sshop.entity.ReciveAddressEntity">
		<id column="address_id" property="addressId" />
		<result column="province_name" property="province" />
		<result column="city_name" property="city" />
		<result column="area_name" property="town" />
		<result column="address_detail" property="addressDetail" />
		<result column="address_info.area_id" property="addressCode" />
		<result column="address_person" property="addressPerson" />
		<result column="address_phone" property="addressPhone" />
		<result column="createtime" property="createTime" />
		<result column="createuser" property="createUser" />
		<result column="updatetime" property="updateTime" />
		<result column="updateuser" property="updateUser" />
		<result column="valid" property="validEnum"
			typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
			javaType="com.sarnath.sshop.enums.ValidEnum" />
	</resultMap>
	<select id="getReciveAddressListById" parameterType="int"
		resultMap="ReciveAddressEntity">
		select
		address_id,province_name,city_name,area_name,address_detail,address_info.area_id,address_person,address_phone,createtime,createUser,updatetime,updateuser,valid
		from address_info left join dcc_areas on
		address_info.area_id=dcc_areas.area_id left join dcc_cities on
		dcc_areas.city_id=dcc_cities.city_id left join dcc_provinces on
		dcc_cities.province_id=dcc_provinces.province_id where
		address_id=#{addressId}
	</select>

</mapper>