<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sarnath.sshop.mapper.SysAdminMapper">

    <insert id="insert" useGeneratedKeys="true" keyColumn="sysAdminID" keyProperty="sysAdminID" parameterType="com.sarnath.sshop.entity.MSysAdminEntity">
      INSERT INTO `sshop`.`M_SYS_ADMIN` (`SysAdminAccNo`, `SysAdminName`, `Mobile`, `Email`, `Status`, `Remarks`, `Password`, `FaceImage`, `CreateTime`, `CreateUser`, `UpdateTime`, `UpdateUser`, `Valid`, `Version`) VALUES (#{sysAdminAccNo}, #{sysAdminName}, #{mobile}, #{email}, #{status}, #{remarks}, #{password}, #{faceImage},  #{createTime}, #{createUser}, #{updateTime}, #{updateUser}, #{valid}, #{version})
        <selectKey resultType="int" keyProperty="sysAdminID" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
</mapper>
